table,th,td{
  border: 1px solid;
  border-collapse: collapse;
  padding: 1.5rem;
}
.card{
  display: flex;
  flex-direction: column;
  border: 1px solid;
  width: 300px;
  height: 100%;
  margin-top: 2rem;
  align-items: center;

}
.description{
  padding: 10px;
}
.sideheading{
  display: flex;
  justify-content: start;
  align-items: start;
  height: 2.5rem;
  padding-left: 1.5rem;
  width: 100%;
}

